@page "/"
@using MediatR
@using System
@using Pantrymo.Application.Models.AppModels
@using Pantrymo.Application.Queries

@inject IMediator _mediator;

<h1>Categories</h1>
<ol>
    @foreach(var subCat in _masterCategory.SubCategories)
    {
        <li>@subCat.Value</li>
    }
</ol>

@code
{
    Category _masterCategory = new Category();

    protected override async Task OnInitializedAsync()
    {
        _masterCategory = await _mediator.Send(new GetCategoryTreeQuery());
    }
}