@page "/"
@using MediatR
@using System
@using Pantrymo.Application.Features
@using Pantrymo.Application.Models.AppModels


@inject IMediator _mediator;

<input id="IngredientTextInput" @bind="IngredientText" @bind:event="oninput" @onkeyup="IngredientText_OnKeyUp" />
<select @bind="IngredientText">
    @foreach(var ingredient in _ingredientSuggestions)
    {
        <option value=@ingredient>@ingredient</option>
    }
</select>

@code
{

    string IngredientText { get; set; }

    private string[] _ingredientSuggestions = new string[] { };

    public async void IngredientText_OnKeyUp(KeyboardEventArgs args)
    {
        await SuggestIngredients();
    }

    private async Task SuggestIngredients()
    {
        var suggestions = await _mediator.Send(new SuggestIngredientsFeature.Query(IngredientText,5));
        _ingredientSuggestions = suggestions;
        StateHasChanged();
    }
}